<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Criarticles</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/personalizado.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="icon" type="image/png" sizes="16x16"  href="/favicon/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>
