<link rel="stylesheet" href="/css/personalizado.css">
<div class="container">
  <hr>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <br>
      <li class="nav-item">
        <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="/index/2" role="tab" aria-controls="pills-home" aria-selected="true">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="/forum" role="tab" aria-controls="pills-home" aria-selected="true">Forúm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-cat-tab" data-toggle="pill" href="/admin/categories" role="tab" aria-controls="pills-cat" aria-selected="false">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-art-tab" data-toggle="pill" href="/admin/articles" role="tab" aria-controls="pills-contact-art" aria-selected="false">Artigos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-art-tab" data-toggle="pill" href="/admin/users" role="tab" aria-controls="pills-contact-art" aria-selected="false">Usuários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-art-tab" data-toggle="pill" href="/logout" role="tab" aria-controls="pills-contact-art" aria-selected="false">Sair</a>
      </li>
    </ul>
  <hr>
</div>